html, body { overflow-x: hidden; }

body {
    font-family: Arial,Microsoft YaHei,sans-serif!important;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #484848!important;
    background-color: #fff;
    font-kerning: normal;
}
a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

.navbar-inverse {
    background-color: #555;
    border-color: #080808;
}

.logo {
    width: 160px;
    padding: 9px 4px;
    margin-right: 20px;
}

.right-nav {
    margin-left: auto;
}
.navbar {
    position: relative;
    min-height: 50px;
    /* margin-bottom: 20px; */
    border: 1px solid transparent;
    border-radius: 0px;
    height: 46px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}

/*.or-class {*/
    /*line-height: 49px;*/
    /*color: white;*/
/*}*/

.navbar-inverse .first-ul> li {
    padding: 0 8px;
    border-right: 1px solid #000;
}

.navbar-header {
    border-right: 1px solid #000;
}

.ficon {
    margin-right: .3em;
}

.icon-height {
    line-height: 42px;
    margin: 3px 7px;
}

.navbar-inverse .second-ul> li {
    padding: 0 8px;
}

.navbar-inverse .second-ul> li:nth-child(3) {
    border-right: 1px solid #000;
}

.navbar-inverse .second-ul> li:nth-child(4) {
    border-right: 1px solid #000;
}
.navbar-inverse .second-ul> li:nth-child(5) {
    border-right: 1px solid #000;
}


.fa .fa-globe {
    margin-right: .3em;
}

.clearfix {
    overflow: auto;
}

#main-container {
    background: #1C1C1C;
}

#main-container h2 {
    color: #f0b90b;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 49px;
}

#main-container .content-binance {
    text-align: center;
}

#main-container .content-binance a {
    text-decoration: none;
    color: white;
}

#main-container span {
    color: #838383;
}

#main-container .content-binance a:hover {
    color: #DEBC00;
}

#main-container img {
    width: 100%;
}

#main-container .content-img {
    margin: 45px -2px;
}

#link-id {
    background: #2A2A2A;
    color: white;
}

#link-id p {
    padding: 12px;
}

#features em {
    width: 80px;
    display: block;
    margin: 0 auto;
}

#features em img {
    width: 100%;
    height: auto;
}

#features span {
    display: block;
    width: 100%;
    text-align: center;
    margin: 25px 0 10px;
    font-size: 18px;
    line-height: 26px;
    color: #1c2736;
}

#features p {
    width: 158px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    opacity: 0.5;
    color: #191919;
}

.this_row {
    margin: 0 -7%;
}

#platform h3 {
    font-size: 30px;
    font-weight: 400;
    padding-top: 150px;
    line-height: 1;
    text-align: center;
}

#platform p {
    padding-top: 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1;
    text-align: center;
}

/*#platform .platform {*/
    /*width: 730px;*/
    /*margin: auto;*/
/*}*/

/*#platform .platform .platform-download {*/
    /*background: url(../images/background-os.png) no-repeat;*/
    /*margin-top: 120px;*/
    /*height: 150px;*/
    /*position: relative;*/
/*}*/

/*#platform .platform .platform-download a {*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*height: 26px;*/
    /*line-height: 26px;*/
    /*min-width: 115px;*/
    /*text-align: center;*/
    /*border-radius: 20px;*/
    /*border: 1px solid;*/
/*}*/

/*#platform .platform .platform-download a .os-left {*/

/*}*/

#platform .a-class{
    margin-top: 10px;
    text-align: center;
}

#platform a {
    height: 26px;
    line-height: 26px;
    min-width: 115px;
    text-align: center;
    border-radius: 20px;
    /*border: 1px solid;*/
    text-decoration: none;
}

#platform a:hover {
    color: #DEBC00;
}

#platform img {
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
}

#trade-now {
    background-color: #202437;
    height: 353px;
    justify-content: center
}

#trade-now h3 {
    margin-top: 49px;
    margin-bottom: 20px;
    line-height: 50px;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

#trade-now p {
    margin-bottom: 51px;
    line-height: 32px;
    font-size: 18px;
    color: hsla(0,0%,100%,.7);
    text-align: center;
}

#trade-now .btn-group {
    text-align: center;
}

#trade-now .btn-group a {
    display: inline-block;
    width: 246px;
    height: 56px;
    line-height: 56px;
    border-radius: 6px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

#trade-now .btn-group .btn-login {
    border: 1px solid #c7cce6;
    color: #c7cce6;
    margin-right: 40px;
}

#trade-now .btn-group .btn-regist {
    background-color: #7a98f7;
}





/***********************
      MediaQuery
***********************/


@media (max-width: 640px) {
    .btn-responsive {
        /*display: inline-block;*/
        width: 146px;
        height: 26px;
        line-height: 56px;
        border-radius: 6px;
        text-align: center;
        font-size: 8px;
        color: #fff;
        text-decoration: none;
    }

    #trade-now .btn-group .btn-login {
        border: 1px solid #c7cce6;
        color: #c7cce6;
        margin-right: 5px;
        width: 135px;
    }



    #trade-now .btn-group .btn-regist {
        background-color: #7a98f7;
        width: 236px;
    }

}

@media (max-width: 436px) {
    .btn-responsive {
        /*display: inline-block;*/
        width: 146px;
        height: 26px;
        line-height: 56px;
        border-radius: 6px;
        text-align: center;
        font-size: 8px;
        color: #fff;
        text-decoration: none;
    }

    #trade-now .btn-group .btn-login {
        border: 1px solid #c7cce6;
        color: #c7cce6;
        margin-right: 5px;
        width: 174px;
    }



    #trade-now .btn-group .btn-regist {

        background-color: #7a98f7;
        width: 178px;
        /* height: 51px; */
        font-size: 13px;
        margin-top: 10px;
    }

}